<%= error_messages_for 'interface_type' %>

<!--[form:interface_type]-->
<p><label for="interface_type_name">Имя</label><br/>
<%= text_field 'interface_type', 'name'  %></p>
<!--[eoform:interface_type]-->

