<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <title><%= title.to_s %></title>
  <%= javascript_include_tag "prototype" %>
  <%= stylesheet_link_tag 'scaffold' %>
  <link rel="shortcut icon" href="http://192.168.157.1/favicon.ico" type="image/vnd.microsoft.icon" />
  <link rel="icon" href="http://192.168.157.1/favicon.ico" type="image/vnd.microsoft.icon" /> 
</head>
<body>
<div style="color: green"><%= flash[:notice] %></div>
<table border="0" width="60%" cellpadding="0" align="center">
  <TR>
	<% menu_array = [['Устройства','devices','list']]
	if(current_user.has_role?('PowerUser'))
		menu_array[menu_array.length] = ['Кроссировки','interfaces','showcross']
		menu_array[menu_array.length] = ['Резервации','reservations','list']
		menu_array[menu_array.length] = ['Инженеры','engineers','list']
		menu_array[menu_array.length] = ['Отчеты','reports','list']
	end
	unless session[:rbac_user_id].nil?
		menu_array[menu_array.length] = ['Выход','access','logout']
	else
		menu_array[menu_array.length] = ['Вход','access','login']
		menu_array[menu_array.length] = ['Регистрация','active_rbac/registration','register']
	end

	menu_array.each do |entry| %>
	<TD align="center" valign="middle" width="<%= 100/(3*menu_array.length) %>%">
		<%= link_to image_tag(entry[1]+'.png', :size => "32x32", :border => 0), {:controller => "/"+entry[1], :action => entry[2]} %>
	</TD>
	<TD align ="left" width="<%= 200/(3*menu_array.length) %>%">
		<%= link_to entry[0],{:controller => "/"+entry[1], :action => entry[2]} %>
	</TD>
	<% end %>
	</TR><TR>
	<% if current_user.has_role?('Admin')
		menu_array = [
		['Пользователи','user','index'],
		['Группы','group','index'],
		['Роли','role','index'],
		['Статические права','static_permission','index']
		]
		menu_array.each do |entry| %>
		<TD align="center" valign="middle">
			<%= link_to image_tag(entry[1]+'.png', :size => "32x32", :border => 0), {:controller => "active_rbac/"+entry[1], :action => entry[2]} %>
		</TD>
		<TD align ="left">
			<%= link_to entry[0],{:controller => "active_rbac/"+entry[1], :action => entry[2]} %>
		</TD>
		<% end %>
	<% end %>
</TR>
</table>
<br/>
<%= @content_for_layout %>
<p>
	<table width="100%">
		<TR>
			<TD>
				<div align="left"><%= image_tag 'rails_powered.gif'%><a href="http://www.spreadfirefox.com/?q=affiliates&amp;id=0&amp;t=219">
				<img border="0" alt="Firefox 2" title="Firefox 2" src="http://sfx-images.mozilla.org/affiliates/Buttons/firefox2/ff2b80x15.gif"/></a>
				</div>
			</TD>
			<TD>
				<div align="center" style="font-size:10px">Optimized for Firefox 1.5+. Please don't use Internet Explorer.
			</TD>
			<TD>
				<div align="right" style="font-size:10px">Coded by DeXy <a href="mailto:dexy.31337@gmail.com">@</a>. Licensed under GPL.</div>
			</TD>
		</TR>
	</table>
</p>
</body>
</html>
