<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <title><%= title.to_s %></title>
  <%= javascript_include_tag "prototype" %>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
<table border="0" width="60%" cellpadding="0" align="center">
  <TR>
	<% menu_array = [['Устройства','devices','list']]
#	if(current_user.has_role?('PowerUser'))
		menu_array[menu_array.length] = ['Кроссировки','interfaces','showcross']
		menu_array[menu_array.length] = ['Резервации','reservations','list']
		menu_array[menu_array.length] = ['Инженеры','engineers','list']
#	end
#	unless session[:rbac_user_id].nil?
#		menu_array[menu_array.length] = ['Выход','access','logout']
#	else
#		menu_array[menu_array.length] = ['Вход','access','login']
#	end

	menu_array.each do |entry| %>
	<TD align="center" valign="middle">
		<%= link_to image_tag(entry[1], :size => "32x32", :border => 0), {:controller => "/"+entry[1], :action => entry[2]} %>
	</TD>
	<TD align ="left">
		<%= link_to entry[0],{:controller => "/"+entry[1], :action => entry[2]} %>
	</TD>
	<% end %>
<!-- Obsolete
    <TD align="center" valign="middle">
<%= link_to image_tag("devices", :size => "32x32", :border => 0), {:controller => "/devices", :action => "list"} %></TD>
    <td align ="left">
<%= link_to "Устройства",{:controller => "/devices", :action => "list"} %></TD>
    <TD align="center" valign="middle">
<%= link_to image_tag("interfaces", :size => "32x32", :border => 0), {:controller => "/interfaces", :action => "showcross"} %></TD>
    <td align ="left">
<%= link_to "Кроссировки",{:controller => "/interfaces", :action => "showcross"} %></TD>
    <TD align="center" valign="middle">
<%= link_to image_tag("reservations", :size => "32x32", :border => 0), {:controller => "/reservations", :action => "list"} %></TD>
    <td align ="left">
<%= link_to "Резервации",{:controller => "/reservations", :action => "list"} %></TD>
    <TD align="center" valign="middle">
<%= link_to image_tag("engineers", :size => "32x32", :border => 0), {:controller => "/engineers", :action => "list"} %></TD>
    <td align ="left">
    <%= link_to "Инженеры",{:controller => "/engineers", :action => "list"} %></TD>
<%= link_to "Отчеты",{:controller => "/reports", :action => "list"} %></TD>
    <TD align="center" valign="middle">
<%= link_to image_tag("reports", :size => "32x32", :border => 0), {:controller => "/reports", :action => "list"} %></TD>
    <td align ="left">
    <%= link_to "Отчеты",{:controller => "/reports", :action => "list"} %></TD>
    -->
  </TR>
</table>
<br/>
<%= @content_for_layout %>
<p>
	<table width="100%">
		<TR>
			<TD>
				<div align="left"><%= image_tag 'rails_powered.gif'%><a href="http://www.spreadfirefox.com/?q=affiliates&amp;id=0&amp;t=219">
				<img border="0" alt="Firefox 2" title="Firefox 2" src="http://sfx-images.mozilla.org/affiliates/Buttons/firefox2/ff2b80x15.gif"/></a>
				</div>
			</TD>
			<TD>
				<div align="center" style="font-size:10px">Optimized for Firefox 1.5+. Please don't use Internet Explorer.
			</TD>
			<TD>
				<div align="right" style="font-size:10px">Coded by DeXy <a href="mailto:dexy.31337@gmail.com">@</a>. Licensed under GPL.</div>
			</TD>
		</TR>
	</table>
</p>
</body>
</html>
