<% dev.devices.each do |subdev| %>
	<%= prefix if prefix %><%= link_to subdev.name + " (" +subdev.labnumber + ")", :controller => 'devices', :action => 'show', :id => subdev.id %><br/>
	<%= render :partial => 'show', :locals => {:dev => subdev,:prefix => prefix.to_s + '>'} %>
<% end %>
