<h1>Производители</h1>

<table>
  <tr>
  <% for column in Vendor.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for vendor in @vendors %>
  <tr>
  <% for column in Vendor.content_columns %>
    <td><%=h vendor.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Показать', :action => 'show', :id => vendor %></td>
    <td><%= link_to 'Редактировать', :action => 'edit', :id => vendor %></td>
    <td><%= link_to 'Удалить', { :action => 'destroy', :id => vendor }, :confirm => 'Точно удалить?', :post => true %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Предыдущая страница', { :page => @vendor_pages.current.previous } if @vendor_pages.current.previous %>
<%= link_to 'Следующая страница', { :page => @vendor_pages.current.next } if @vendor_pages.current.next %> 

<br />

<%= link_to 'Завести нового произодителя', :action => 'new' %>
