<% for column in Vendor.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @vendor.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @vendor %> |
<%= link_to 'Back', :action => 'list' %>
