<h1>Отчеты</h1>

<b><%= link_to 'Общий', {:action => 'total_inv'} %></b><br>
<b><%= link_to 'Общий по резервации', {:action => 'total_inv_res'} %></b><br>
<b><%= link_to 'Cisco сертификация', {:action => 'cert_inv'} %></b><br>
<b><%= link_to 'Шасси', {:action => 'chasis_inv'} %></b><br>
